!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  
    %title Pann
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  
  %body.page-wrap
  
    = render 'shared/header'
    = render 'notification'
    = yield
    = render 'shared/footer'
